html {
    margin: 0em;
    font-size: 16px;
    line-height: 1.45;
    color: black;
    width: 100%;
    --dark-blue: #0099ff;
    --light-blue: #a5e2ff;
    --content-back: white;
}

tml {
  font-size: 100%; /*16px*/
}

* {
	box-sizing: content-box;
  }

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// Body content stuff

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  line-height: 1.75;
  background-color: var(--light-blue);
  color: black;
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.content {
  background-color: var(--content-back);
  border-radius: 10px;
  display: block;
  float: none;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 75vw;
  width: 90%;
  color: black;
  padding: 10px 40px 43px;
}

// Main page floating content

.front-content {
  background-color: var(--content-back);
  border-radius: 10px;
  display: block;
  float: none;
  padding: 40px 40px;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: auto;
  max-height: 80vh;
  overflow: auto;
}

.content-vertical-hack {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100%;
  width: 90%;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 75vw;
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px; 
  margin-bottom: 20px;
  padding-top: 40px;
}

.image-container {
  flex: 1; 
  position: relative; 
  height: 60vh;
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 50px;
  //overflow: hidden;
}

.floating-image {
  position: absolute;
  width: 12vw;
  height: auto;
  object-fit: contain;
  transition: transform 10s ease-out; /* adds smoothness to initial positions */
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column; /* Stack divs vertically */
    align-items: center; /* Center the content */
    height: 30vh;
  }

  .image-container {
    width: 100%; /* Ensure the image container takes up full width on small screens */
    height: 60vh; /* Adjust height for smaller screens */
  }
}

// General formatting

p {
  margin-bottom: 1rem;
  font-weight: 320;
  font-size: 18px;
  max-width: 100vw;
  overflow: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 1.58rem 0 1rem;
  font-family: 'Rubik', sans-serif;
  font-weight: 370;
  line-height: 1.3;
}

h1 {
  margin-top: 0.5em;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

p {
  margin: auto;
  margin-top: 0.3rem;
}


a {
  color: var(--dark-blue);
  text-decoration: none;
  outline: 0;
}

small, .text_small { font-size: 0.8rem; }

header, footer, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

#header-sigil {
  height: 1.5em;
  vertical-align: middle;
}

body > header, body > footer {
  text-align: center;
  margin: -1em;

  & > a {
    color: #0099ff;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.small-text {
  font-size: 12px;
  margin-top: 20px;
}


// Navbar stuff

body > nav {
  background-color: var(--dark-blue);
  color: black;
  font-weight: bold;
}

nav .logo img {
  height: auto;  
  max-height: 60px; 
  width: auto; 
  margin-left: 20px;
}

nav .logo {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  padding-right: 15px; 
  padding-top: 3px;
  padding-bottom: 3px;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid black;
  color: black; 
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s; 
}

.nav-button:hover {
  background-color: black; 
  color: white; 
}

body > nav {
  position: sticky;
  top: 0;
  text-align: center;
  margin: -1em;
  display: flex;
  justify-content: right;
  z-index:1000;
  
  & > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;

    & > li {
      display: inline;
      margin: 0 3px 0 3px;
      padding: 10px 15px;

      & > a {
        color: black;
      }
    }
  }
}

// Members list stuff

.eboard-img {
  display: block; 
  margin-right: auto; 
  margin-top: 15px; 
  margin-bottom: 15px;
  border-radius: 50%;
}

// Puzzlethon stuff

.puzzlethon-container {
  display: flex;
  justify-content: center;
  gap: min(5vw, 50px);
}

.puzzlethon-box { 
  margin-top: 5vh;
  font-size: min(7vw, 60px);
  //border: 1px solid black;
}

.puzzlethon-text {
  background-color: var(--content-back);
  border-radius: 20px;
  color: black;
  padding: 20px 30px;
  max-width: 380px;
  text-align: left;
  border: 5px solid black;
}

.puzzlethon-image {
  display: flex;               
  justify-content: flex-end; 
  align-items: right;
}

// Mobile table stuff

@media (max-width:700px)  { 
  table {
      margin: 20px auto;
      width: 100%;
      text-align:center;
  }
  
  tbody tr {
      border-top: 1pt solid black;
  }
  
  tr {
      display: flex;
      flex-direction: column;
      width: 100%;
      flex-wrap: wrap;
      text-align: center;
  }
  
  /*
  td:nth-child(1), th:nth-child(1) {
      width: 1em;
  }
  
  td:nth-child(2), th:nth-child(2) {
      width: 90%;
      flex: 1;
  }
  
  td:nth-child(3), th:nth-child(3) {
      width: 95%;
      margin-left: 2em;
  }*/
  
}

// Non-mobile table stuff

.width-hack {
	display: block; 
	margin: auto; 
	width: 20%;
	min-width: 100px;
}

th, td {
	padding: 5px 10px 0px 10px;
	text-align: left;
}

table {
	width: 100%;
	margin: 20px;
}

/*
td:nth-child(1) {
	width: 5%;
}

td:nth-child(2) {
	width: 50%;
}

td:nth-child(3) {
	width: 55%;
}*/
