<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} | {% endif %}Brown Puzzle Club</title>
    <meta name="author" content="A website for Brown Puzzle Club, home to the puzzlehunting community at Brown.">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ get_url(path='favicon.jpg') }}">
    <link itemprop="url" href="{{ config.base_url }}">
    <link rel="canonical" href="{{ config.base_url }}">
    <link rel="stylesheet" href="{{ get_url(path='base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
    <style>
        body {
            line-height: 1.5;
        }
    </style>

  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="{{ get_url(path='favicon.png') }}" alt="Logo">
      </div>
      <ul>
        <li><a href="{{ get_url(path='') }}" class="nav-button">Home</a></li>
        <li><a href="{{ get_url(path='@/members.md') }}" class="nav-button">Members</a></li>
        <li><a href="{{ get_url(path='@/archive/_index.md') }}" class="nav-button">Past Hunts</a></li>
        <li><a href="{{ get_url(path='@/puzzlethon.md') }}" class="nav-button">Puzzlethon</a></li>
      </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>